* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body{
    /* background-color: rgb(80, 94, 205); */
    background-image: url('https://previews.123rf.com/images/yaviki/yaviki1404/yaviki140400010/27535386-gender-symbols-seamless-on-white-background.jpg');

    background-size: cover;
    background-repeat: repeat;
}

.content-div {
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content{
    display: flex;
    flex-wrap: nowrap;
}

.left-bar, .right-bar {
    border: 1px solid #333;
    padding: 2rem;
}

.styledinput {
    padding: .5rem;
    border-radius: .2rem;
    background-color: white;
    display: block;
    border: 1px solid rgb(193, 193, 193);
}

#logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 4rem;
}

.space {
    padding: 0 1.5rem;
}

input {
    margin: .5rem 0;
}

.content button, #submitBtn, #saveBtn{
    background-color: #fd919e;
    border-radius: .3rem;
    border: none;
    padding: .5rem 1rem;
    color: white;
    left: 0;
}

h1 {
    font-size: 1.5rem;
}

#error {
    border: indianred 2px solid;
    display: none;
    margin-top: 1rem;
    border-radius: .4rem;
    padding: 2rem 1rem;
    text-align: center;
    background-color: pink;
}

.Logs{
    border: 1px solid rgb(193, 193, 193);
    border-radius: .2rem;
    padding:2rem;
    text-align: center;
    background-color: #fff;
    margin-bottom: .3rem;
}